#main-view {
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
  bottom: 1.5rem;
  width: calc(100% - 3rem - 320px - 1.5rem);
  height: calc(100% - 6rem);
  border-radius: 0.5rem;
  background-color: #fff;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  @media screen and (max-width: 1279px) {
    width: calc(100% - 4.5rem - 240px);
  }
  @media screen and (max-width: 1023px) {
    width: calc(100% - 3rem);
  }
  @media screen and (max-width: 767px) {
    left: 1rem;
    width: calc(100% - 2rem);
  }
  @media screen and (max-width: 479px) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 4.5rem);
    border-radius: 0;
  }
  &[uid=""]{
    > section[df=list] {
      @media screen and (max-width: 639px) {
        display: block;
        left: 0;
      }
    }
  }
  > nav {
    position: absolute;
    display: block;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: #fff;
    border-bottom: 1px solid #0000001e;
    > ul {
      position: relative;
      display: block;
      padding: 0 0.5rem;
      width: 100%;
      font-size: 0;
      > li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0.75rem 0.5rem;
        padding: 0 0.75rem;
        width: initial;
        line-height: 2.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        border-radius: 0.5rem;
        background-color: #0000000a;
        cursor: pointer;
        > i {
          margin-right: 0.25rem;
        }
        &.selected {
          background-color: steelblue;
          color: #fff;
          > i {
            color: #fff;
          }
        }
      }
    }
  }
  > section[df=list] {
    position: absolute;
    display: block;
    z-index: 1;
    top: 4rem;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #fdfdfd;
    @media screen and (max-width: 1279px) {
      width: 240px;
    }
    @media screen and (max-width: 639px) {
      display: none;
      left: -100%;
      width: 70%;
      -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    @media screen and (max-width: 479px) {
      width: 85%;
    }
    @media screen and (max-width: 413px) {
      width: 100%;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    > nav {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 4rem;
      background-color: #fff;
      border-right: 1px solid #0000001e;
      > i {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 2rem;
        line-height: 2rem;
        text-align: center;
        z-index: 1;
      }
      > input {
        position: relative;
        margin-top: 1rem;
        margin-left: 1rem;
        padding-left: 2rem;
        padding-right: 1rem;
        width: calc(100% - 2rem);
        line-height: 2rem;
        border: 1px solid #0000001e;
        border-radius: 0.25rem;
      }
    }
    > ul {
      position: absolute;
      display: block;
      top: 4rem;
      left: 0;
      bottom: 0;
      width: 100%;
      border-right: 1px solid #0000001e;
      &[df*=empty] {
        background-position: center;
        background-repeat: no-repeat;
        background-size: none;
        &[df*=inbox] {
          background-image: url(../image/empty/inbox.svg);
        }
        &[df*=auth] {
          background-image: url(../image/empty/auth.svg);
        }
      }
      > li {
        position: relative;
        display: block;
        padding: 1rem 0;
        width: 100%;
        height: initial;
        border-top: 1px solid #0000001e;
        cursor: pointer;
        &:nth-child(1) {
          margin-top: 0;
          padding-top: 0.5rem;
          border-top: none;
        }
        &.selected {
          background-color: #0000001e;
        }
        > strong {
          position: relative;
          display: block;
          padding: 0 1rem;
          font-size: 1.125rem;
        }
        > em {
          position: relative;
          display: block;
          padding: 0 1rem;
          font-size: 0.75rem;
          font-style: normal;
          overflow: hidden;
        }
        > p {
          position: relative;
          display: block;
          line-height: 1.5rem;
          max-height: 3rem;
          padding: 0 1rem;
          font-size: 0.875rem;
          font-style: normal;
          overflow: hidden;

        }
      }
    }
  }
  > section[df=body] {
    position: absolute;
    display: block;
    z-index: 0;
    top: 4rem;
    left: 320px;
    bottom: 0;
    right: 0;
    width: calc(100% - 320px);
    height: calc(100% - 4rem);
    background-color: #fff;
    @media screen and (max-width: 1279px) {
      left: 240px;
      width: calc(100% - 240px);
    }
    @media screen and (max-width: 639px) {
      left: 0;
      width: 100%;
    }
    > nav {
      position: absolute;
      z-index: 1000;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      height: 4rem;
      background-color: #ffffffdd;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border-bottom: 1px solid #0000001e;
      display: none;
      &.show {
        display: block;
      }
      > h6 {
        position: absolute;
        display: block;
        top: 0;
        left: 1rem;
        bottom: 0;
        line-height: 4rem;
        font-size: 1.25rem;
        @media screen and (max-width: 1279px) {
          display: none;
        }
      }
      > ul {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: initial;
        height: 100%;
        font-size: 0;
        > li {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-right: 1rem;
          width: initial;
          height: 100%;
          > i {
            position: relative;
            margin-top: 1rem;
            width: 2rem;
            line-height: 2rem;
            font-size: 1rem;
            background-color: #0000001e;
            text-align: center;
            border-radius: 0.5rem;
            cursor: pointer;
          }
        }
      }
    }
    > ul {
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      padding: 5rem 1rem 7rem;
      width: 100%;
      height: initial;
      max-height: 100%;
      overflow: scroll;
      > li {
        position: relative;
        display: block;
        width: 100%;
        font-size: 0;
        &:hover {
          > em {
            display: inline-block;
          }
        }
        &[df*=right] {
          text-align: right;
          > p {
            margin-right: 0.5rem;
            background-color: steelblue;
            color: #fff;
          }
          > em {
            margin-right: 0.5rem;
          }
        }
        &[df*=left] {
          text-align: left;
          > p {
            margin-left: 0.5rem;
            background-color: #f0f0f0;
          }
          > em {
            margin-left: 0.5rem;
          }
        }
        > img {
          position: relative;
          display: inline-block;
          vertical-align: bottom;
          margin: 0 1px 1rem;
          width: 2rem;
          height: 2rem;
          background-color: #0000001e;
          border-radius: 50%;
        }
        > em {
          position: relative;
          display: inline-block;
          vertical-align: bottom;
          margin-bottom: 1rem;
          font-size: 0.75rem;
          font-style: normal;
          display: none;
        }
        > p {
          position: relative;
          display: inline-block;
          vertical-align: bottom;
          margin-bottom: 1rem;
          padding: 0.5rem 0.75rem;
          max-width: 70%;
          line-height: 1.5rem;
          font-size: 1rem;
          border-radius: 0.75rem;
        }
      }
    }
    > div {
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      right: 0;
      height: 7rem;
      background-color: #ffffffdd;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border-bottom-right-radius: 0.5rem;
      overflow: hidden;
      > textarea {
        position: absolute;
        top: 0;
        left: 1rem;
        bottom: 1rem;
        right: 1rem;
        padding: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 1rem);
        border-radius: inherit;
        resize: none;
        border: 1px solid #0000001e;
        border-radius: 1rem;
      }
      > button {
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
        padding: 0.25rem 1rem;
        font-size: 1rem;
        border: none;
        outline: none;
        background-color: #0000000a;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }
}