#right-view {
  position: absolute;
  top: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 320px;
  height: calc(100% - 3rem);
  border-radius: 0.5rem;
  background-color: #fff;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  @media screen and (max-width: 1279px) {
    width: 240px;
  }
  @media screen and (max-width: 1023px) {
    display: none;
  }
}